./front_end_client/logs
./front_end_client/*.log
./front_end_client/npm-debug.log*
./front_end_client/yarn-debug.log*
./front_end_client/yarn-error.log*
./front_end_client/pnpm-debug.log*
./front_end_client/lerna-debug.log*

./front_end_client/node_modules
./front_end_client/dist
./front_end_client/dist-ssr
./front_end_client/*.local
./front_end_client/.env
# Editor directories and files
./front_end_client/.vscode/*
./front_end_client/!.vscode/extensions.json
./front_end_client/.idea
./front_end_client/.DS_Store
./front_end_client/*.suo
./front_end_client/*.ntvs*
./front_end_client/*.njsproj
./front_end_client/*.sln
./front_end_client/*.sw?


./front_end_admin/logs
./front_end_admin/*.log
./front_end_admin/npm-debug.log*
./front_end_admin/yarn-debug.log*
./front_end_admin/yarn-error.log*
./front_end_admin/pnpm-debug.log*
./front_end_admin/lerna-debug.log*

./front_end_admin/node_modules
./front_end_admin/dist
./front_end_admin/dist-ssr
./front_end_admin/*.local
./front_end_admin/.env
# Editor directories and files
./front_end_admin/.vscode/*
./front_end_admin/!.vscode/extensions.json
./front_end_admin/.idea
./front_end_admin/.DS_Store
./front_end_admin/*.suo
./front_end_admin/*.ntvs*
./front_end_admin/*.njsproj
./front_end_admin/*.sln
./front_end_admin/*.sw?